---
faq:
  - question: What is BetterDiscord?
    answer: BetterDiscord is a client side modification for the Discordapp, you are able to add custom themes, plugins and even emotes. Take control of your Discordapp! BetterDiscord is in continuous development and new features get added daily!
  - question: What is a question?
    answer: The answer
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>