---
title: Discord themes & plugins!
description: Free quality Themes and Plugins for Discord and easy installation instructions for BetterDiscord and more!
hero: Discord Plugins
subtitle: Custom JS plugins made by our commuity!
layout: default
type: plugin
search: true
---

<div class="content" id="plugins">
	<section style="padding: 40px 0;">
		<div class="container">
			<h2>Plugins ({{ site.pluginss | size }})</h2>
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list" id="product-list">
				{% for plugins in site.pluginss %}
					<li>
						<div class="styles">
						<!-- {% include product-styles.html product=plugins %} -->
						<div class="product-details">
							<h4><a href="{{ plugins.url }}">{{ plugins.title }}</a></h4>
							<h5>by <b>{{ plugins.author }}</b></h5>
							<div class="product-description">
								{{ plugins.description_markdown | truncate: 150 | markdownify }}
							</div>
							{% if plugins.price == nil %}
							{% else %}
							<p>${{ plugins.price }}</p>
							{% endif %}
							<div class="button-wrapper flex-row">
								<div class="button flex-button">
									<a href="{{ plugins.download }}" target="blank">Download</a>
									<a href="{{ plugins.support }}" target="blank">Support</a>
								</div>
							</div>
						</div>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
<a href="https://github.com/MrRobotjs/BetterDocs/edit/master/_pluginss/_defaults.md">
	<div class="upload-button-container">
		<div class="upload-btn">
			<span>+</span> Upload Plugin
		</div>
	</div>
</a>
<script>
	$(function() {
		$("#search-input").keyup(function() {
			console.log("searching for: " + $(this).val());
			var search = $(this).val().toLowerCase();
			$("#product-list").find("li").each(function() {
				if ($(this).text().toLowerCase().includes(search)) {
					$(this).show();
				} else {
					$(this).hide();
				}
			});
		});
	});
	/*
	$(function() {
		$.fn.sortList = function() {
			var mylist = $(this);
			var listitems = $('li', mylist).get();
			listitems.sort(function(a, b) {
				var compA = $(a).text().toUpperCase();
				var compB = $(b).text().toUpperCase();
				return (compA < compB) ? -1 : 1;
			});
			$.each(listitems, function(i, itm) {
				mylist.append(itm);
			});
		}
		$("ul#product-list").sortList();
	});
	
	// selector to parent element (best approach by id)
	var parent = document.querySelector("ul#product-list"),
		// take items (parent.children) into array
		itemsArray = Array.prototype.slice.call(parent.children);
	// sort items in array by custom criteria
	itemsArray.sort(function(a, b) {
		// inner text suits best (even when formated somehow)
		if (a.innerText < b.innerText) return -1;
		if (a.innerText > b.innerText) return 1;
		return 0;
	});
	// reorder items in the DOM
	itemsArray.forEach(function(item) {
		// one by one move to the end in correct order
		parent.appendChild(item);
	});*/
	var count = $('ul#product-list').children().length;
	$('#result').text(count);
</script>