---
title: Discord themes & plugins!
description: A list of free and paid high quality themes made by our community. For the past 3 years we have been the #1 go to website for all Discord themes!
hero: Discord Themes
subtitle: Custom CSS themes made by our commuity!
layout: default
search: true
---

<div class="content" id="themes">
	<div class="filter-container">
		{% for filter in site.data.filters.themes %}
		{% assign class = "" %}
		{% if filter.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}
		{% if filter.disabled %}
			{% assign class = class | append: " disabled" %}
		{% endif %}
		{% if filter.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a {% if filter.disabled %}{% else %}href="{% include relative-src.html src=filter.link %}"{% endif %} class="{{ filter.name }}{{ class }}">
			<div class="filters">{{ filter.name }}</div>
		</a>
		{% endfor %}
    </div>
	<section style="padding: 0px 0px 20px 0px;">
		<div class="container">
			<h2>Themes ({{ site.themes | size }})</h2>
			<div class="button section-btn"> 
				<a href="https://github.com/MrRobotjs/BetterDocs/tree/gh-pages/_themes#uploading-a-theme" target="blank" class="btn section">Add Theme</a> 
			</div>
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list" id="product-list">
				<!-- Third Ad Responsive -->
				<li><div class="styles"><ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-1998206533560539"
					data-ad-slot="9689023387"
					data-ad-format="auto"
					data-full-width-responsive="true">
				</ins></div></li>
				{% assign sortedThemes = site.themes | sort: 'title' %}
				{% for theme in sortedThemes %}
					<li>
						<div class="styles">
						{% include product-styles.html product=theme %}
						<div class="product-details">
							<h4><a href="{{ theme.url }}">{{ theme.title }}</a></h4>
							<h5>by <b>{{ theme.author }}</b></h5>
							<div class="product-description">
								{{ theme.description_markdown | truncate: 100 }}
							</div>
							{% if theme.price == nil %}
							{% else %}
							<p>${{ theme.price }}</p>
							{% endif %}
							<div class="button-wrapper flex-row" id="add">
								<div class="button flex-button">
									<a href="{{ theme.download }}" target="blank">Download</a>
									<a href="{{ site.url }}/demo/{{ theme.style }}/?theme={{ theme.demo }}" target="blank">Demo</a>
										
								</div>
							</div>
						</div>
						</div>
					</li>
				{% endfor %}
				<!-- Rectangle Ad 336x280 -->
				<li><div class="styles">
					<ins class="adsbygoogle"
						 style="display:inline-block;width:336px;height:280px"
						 data-ad-client="ca-pub-1998206533560539"
						 data-ad-slot="8585740998"></ins></div></li>
				<!-- Third Ad Responsive -->
				<li><div class="styles"><ins class="adsbygoogle"
					style="display:block"
					data-ad-client="ca-pub-1998206533560539"
					data-ad-slot="9689023387"
					data-ad-format="auto"
					data-full-width-responsive="true">
				</ins></div></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
<a alt-text="Theme Installation Help" class="help-btn" href="https://documentation.betterdocs.us"> 
	<div class="white">
		?
	</div>
</a>
<script>
$(function() {
	$("#search-input").keyup(function() {
		console.log("searching for: " + $(this).val());
		var search = $(this).val().toLowerCase();
		$("#product-list").find("li").each(function() {
			if ($(this).text().toLowerCase().includes(search)) {
				$(this).show();
			} else {
				$(this).hide();
			}
		});
	});
});
var count = $('ul#product-list').children().length;
$('#result').text(count);
</script>