<section id="cards-section">
    <div class="card-container flex-row">

        <div class="card">
            <div class="card-inner">
                <div class="card-header">
                    <a href="/themes.html">
                        <i class="material-icons">format_paint</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3>Themes</h3>
                    <p>Write your own theme with the built-in CSS loader or download themes made by other people for
                        <b>free</b>.</p>
                </div>
                <div class="card-footer">
                    <a href="/themes/" target="blank" class="card-btn">See All</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-inner">
                <div class="card-header">
                    <i class="material-icons">tag_faces</i>
                </div>
                <div class="card-content">
                    <h3 class="">Emotes</h3>
                    <p>With over 50,000 emotes you can use global and subscriber based emotes from twitch and other 3rd party providers.</p>
                </div>
                <div class="card-footer">
                    <a href="https://github.com/Jiiks/BetterDiscordApp/wiki/Emotes" class="card-btn">Read More</a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-inner">
                <div class="card-header">
                    <a href="/plugins.html">
                        <i class="material-icons">power</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3>Plugins</h3>
                    <p>Write your own plugin with the built-in JS loader or download plugins made by other people for <b>free</b>.</p>
                </div>
                <div class="card-footer">
                    <a href="/plugins/" class="card-btn">See All</a>
                </div>
            </div>
        </div>
        
        <!--
        <div class="card">
            <div class="card-inner">
                <div class="card-header">
                    <a href="/plugins.html">
                        <i class="material-icons">power</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3>Discord Turbo Boost</h3>
                    <p>This is basically Discord Nitro but better. With our essentials you get state of the art <b>free</b> custom themes and plugins! <i>Coming soon</i></p>
                </div>
                <div class="card-footer">
                    <a href="/plugins/" class="card-btn">See All</a>
                </div>
            </div>
        </div>
        -->
        
    </div>
</section>