<script src="/js/comments.js"></script>
<script src="/js/comments_x.js"
repo="MrRobotjs/BetterDocs"
issue-term="title"
theme="github-light"
crossorigin="anonymous"
issue-number='{{ page.ghcommentid }}'
async></script>
<div id="gh-comments">
    <h4>COMMENTS</h4>
    <div id="gh-comments-list"></div>
    <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none">Load more comments</a>
</div>
<script type="text/javascript">
    DoGithubComments({{ page.ghcommentid }});
</script>