<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		{% if link.dropdown == nil %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		{% elsif link.dropdown %}
		<div class="dropdown">
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		<div class="dropdown-content">
			{% for drop_links in link.dropdown_links %}
			<a href="{{ drop_links.link }}">{{ drop_links.name }}</a>
			{% endfor %}
		</div>
		</div>
		{% endif %}
	{% endfor %}
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn" title="Edit navigation"><strong>&#9998;</strong></a>
	<div class="cart snipcart-checkout button">
		<a onclick="netlifyIdentity.open();"><span>Sign Up</span></a>
		<a onclick="netlifyIdentity.open();"><span>Log In</span></a>
	</div>
</nav>
