<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		{% if link.dropdown == nil %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		{% elsif link.dropdown %}
		<div class="dropdown" id="dropdown">
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }} nav-link" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}<img src="/images/down_arrow.svg" class="iconArrow" alt="Open Nav"></a>
		<div class="dropdown-content">
			{% for drop_links in link.dropdown_links %}
			{% if drop_links.icon %}
			<img src="{{ drop_links.icon }}" class="drop_icon">
			<a href="{{ drop_links.link }}" class="has_icon" {% if link.new_window %}target="_blank"{% endif %}>{{ drop_links.name }}</a>
			{% else %}
			<a href="{{ drop_links.link }}" class="" {% if drop_links.new_window %}target="_blank"{% endif %}>{{ drop_links.name }}</a>
			{% endif %}
			{% endfor %}
		</div>
		</div>
		{% endif %}
	{% endfor %}
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn" title="Edit navigation"><strong>&#9998;</strong></a>
	<div class="cart snipcart-checkout button" id="nav-actions">
		
	</div>
</nav>
<script>
$('.dropdown').on('click', function(event) {
    $('.nav-link').toggleClass('open');
	event.stopPropagation();
});
$('html').click(function() {
	$('.nav-link').removeClass('open');
});
$(".dropdown").hover(function () {
    $('.nav-link').toggleClass("drop-hover");
 });
 $(".nav-link").focus(function(){
	$('.nav-link').toggleClass('open');
	event.stopPropagation();
});
</script>