@media #{$below-mid-point} {
	.nav-open {

		nav {
			border: 0;
			z-index: 2;
			background-color: #262626;

			.cart {
				display: -webkit-box;
				padding-bottom: 10px;
				padding-left: 5px;
				a {
					display: block;
					border: unset;
					&:hover {
						border: unset;
					}
					&:first-child, &:only-child {
						background-color: #333;
						span {
							color: rgba(#fff,0.6);
						}
						&:hover {
							background-color: rgba(#333, 0.7) !important;
						}
					}
				}
			}

			a {
				display: block;
			}
		}
		header {
			> .container, > .nav-container .container  {
				nav {
					.dropdown {
						.nav-link {
							&.open {
								~ .dropdown-content {
									display: block;
									margin-top: 49px;
									z-index: 2;
								}
							}
						}
						
						&:hover {

							.nav-link {
								&.open {
									~ .dropdown-content {
										display: block;
										margin-top: 49px;
										z-index: 2;
									}
								}
							}

							.dropdown-content {
								display: block;
								margin-top: 49px;
								z-index: 2;
							}
						}
					}
					a:not(.nav-toggle) {
						text-align: left;
					}
				}
			}
		}
	}
	nav {
		margin-left: -10px;
	}
}

header {
	color: #fff;
	padding: 20px 0 59px 0;
	background: linear-gradient(135deg, $brand-color 0%, $brand-color-2 100%);
	position: relative;

	> .container, > .nav-container .container {
		position: relative;
		width: 100%;
		top: -21px;
		z-index: 100;
		max-width: 100%;
		padding: 0px 0px 0px 10px;
		transition: .2s linear background-color, .2s linear box-shadow;
		background-color: #262626;
		height: 68px;

		@media #{$mid-point} {
			padding: 0px 0px 0px 15px;
			height: unset;
			background-color: #262626;
		}

		nav {
			margin-top: 8px;
			
			a.nav-toggle {
				top: -9px;
				transition: .2s linear top;
				padding: 18px 20px;
			}
		}

		.company-name {
			top: 11px;

			@media #{$mid-point} {
				top: 13px;
			}
			svg {
				height: 50px;
    			width: 90px;
				transition: .5s ease height, .5s ease width;
			}
			span {
				font-size: 25px;
			}
		}
	}
	@keyframes top {
		from {
			top: -70px;
		}
		to {
			top: 0px;
		}
	}
	> .container.navbar-scroll, > .nav-container .container.navbar-scroll {
		background-color: #262626;
		box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
		position: fixed;
		animation: top .8s forwards;
		animation-timing-function: ease;
		top: -70px;

		nav {
			margin-top: 13px;

			a.nav-toggle {
				top: -13px;
			}
			.dropdown {
				a {
					&:hover {
						border-bottom: 2px solid transparent;
					}
				}
			}
		}

		.company-name {
			top: 9px;
			svg {
				height: 40px;
				width: 75px;
				transition: .5s ease height, .5s ease width;
			}

			span {
				font-size: 16px;
			}
		}
	}

	p {
		margin: 0;
	}
	@media #{$mid-point} {
		&:before, &:after {
			content: "";
			width: 25%;
			display: block;
			position: absolute;
			border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
			transform: translate(-50%, 0);

		}

		&:before {
			transform: skewX(-15deg);
			box-shadow: 99px 29px 170px -24px rgba(0,0,0,.05);
			top: -254px;
			bottom: 50%;
			left: 43%
		}

		&:after {
			box-shadow: inset 92px -41px 104px -28px rgba(0,0,0,.05);
			transform: skewX(-12deg);
			top: 47%;
			left: 40%;
			bottom: -121px;
		}
		&.products {
			&:before {
				content: "";
				background-image: url(/images/header-bg.svg);
				background-size: 38%;
				position: fixed;
				width: 100%;
				height: 100%;
				border-radius: unset;
				transform: unset;
				box-shadow: unset;
				top: unset;
				bottom: unset;
				left: unset;
			}
		}
		&.enhanceddiscord {
			background: linear-gradient(135deg, $brand-color 0%, $enhanceddiscord 100%);
		}
		&.beautifuldiscord {
			background: linear-gradient(135deg, $brand-color 0%, $beautifuldiscord 100%);
		}
		&.bandagedbd {
			background: linear-gradient(135deg, $brand-color 0%, $bandagedbd 100%);
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}
}

nav {
	width: 100%;
	padding: 20px 0 0 0;

	@media #{$mid-point} {
		//display: inline-block;
		vertical-align: top;
		width: auto;
		padding: 0;
		margin-top: 13px;
    	margin-left: -18px;
	}

	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.6);
		transition: 200ms linear color, .2s linear border-bottom;
		display: none;

		@media #{$mid-point} {
			display: inline-block;
		//	padding: 25px 22px 24px 22px;
			padding: 15px 15px 15px 15px;
			font-family: -apple-system, BlinkMacSystemFont, "“Segoe UI”", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "“Helvetica Neue”", sans-serif;
			font-size: 16px;
			font-weight: 300;
			border-bottom: 2px solid transparent;
		}

		@media #{$mid-point} {
			&.active {
				border-bottom: 2px solid #fff;
			}
			&:hover, &:active, &:focus {
				border-bottom: 2px solid rgba(255, 255, 255, 0.85);
			}
		}

		&.active {
			color: #fff;
			font-weight: bold;
		}

		&:hover {
			color: rgba(255, 255, 255, 0.85);
		}

		&:focus {
			outline: unset;
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 0;
			top: -22px;
			font-size: 1.9em;
			border: 0;
			z-index: 2;
			padding: 20px;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a.open {
		color: #fff;
	}


	.cart {
		line-height: 1;
		
		a {
			border:unset;
			&:hover {
				border: unset;
			}
			&:first-child {
				background-color: #333;
				span {
					color: rgba(#fff, 0.6);
				}
				&:hover {
					background-color: rgba(#333, 0.7);
				}
			}
		}

		i {
			font-size: 22px;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 2px;

		}
	}

	@media #{$mid-point} {
		.cart {
			color: #fff;
			position: absolute;
			right: 13px;
			top: 0px;
			font-size: .8em;
			transition: .2s background-color linear;
			padding: 16px 27px 16px 17px;
			border-radius: unset;
			border: unset;

			&:hover {
				border-color: #fff;
			}
			a {
				transition: .2s linear background-color;
				padding: 10px 25px 12px 25px;
				border: 2px solid transparent;
				
				&:hover {
					background-color: rgba($brand-color, 0.8);
					border-bottom: 2px solid transparent;
				}
			}
		}
	}
}

header > .container.navbar-scroll, header > .nav-container .container.navbar-scroll {
	nav {
		a {
			@media #{$mid-point} {
				&.active {
					border-bottom: 2px solid #fff;
				}
				&:hover, &:active, &:focus {
					border-bottom: 2px solid rgba(255, 255, 255, 0.85);
				}
			}
		}
		.cart {
			a {
				border-bottom: 2px solid transparent;
				
				&:hover {
					border-bottom: 2px solid transparent;
				}
			}
		}
	}
}

.nav-container {
    display: block;
    height: 130px;
    width: 100%;
}