.card-container.flex-row {
    @media #{$above-tablet} {
        display: flex;
    }
}
.hero.flex-row {
    @media #{$above-tablet} {
        display: flex;
        padding: 100px 0;
    }
}

.product-container {
    .product-details {
        @media #{$above-tablet} {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-top: unset;
        }
    }
}

input#search-input {
    @media #{$above-tablet} {
    width: calc(100% - 450px);
    }
}

header {

	> .container {
        @media #{$mid-point} {
        background-color: transparent;
        }
    }
}