/* Product Container */
.product-container {
    .styles {
        .button {
            .btn {
                display: -webkit-inline-box;
            }
        }
    }
    .product-details {
        flex: 1;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        background-color: #fff;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        .product-header {
            border-radius: 2px 2px 0px 0px;
            color: #6b6b6b;
            padding: 10px 0px;
            flex-basis: 8%;
            border-bottom: 1px solid #cacaca;
            width: calc(100% - 30px);
            margin: 0 auto;
            h3 {
                text-align: left;
                margin: unset;
            }
        }
        .product-description {
            flex-basis: 66%;
            padding: 15px;
            p {
                margin: unset;
            }
        }
        .button-wrapper {
            align-content: space-between;
            align-self: center;
            .flex-button {
                flex-basis: 16%;
                display: flex;
                a {
                    margin: 0px 4px 0px 4px;
                }
                .btn {
                    display: -webkit-inline-box;
                }
            }
        }
    }
}
/**/
.img-comp-container {
    position: relative;
    height: 200px; /*should be the same height as the images*/
}
.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow:hidden;
}
.img-comp-img img {
    display:block;
    vertical-align:middle;
}
.img-comp-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}
.styles .button.flex-button {
    display: initial;
}
.product-container .styles {
    display: initial;
}
.margin-left-unset {
    margin-left: unset;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.hero.flex-row {
    justify-content: space-between;
}
.hero.flex-row h2 {
    font-size: 2.5em;
    text-align: left;
}
.hero.flex-row p {
    text-align: left;
}
.hero-text {
    flex-basis: 21%;
    padding: unset;
}
.hero-image {
    flex-basis: 50%;
}
.styles {
    .styles {
        box-shadow: unset;
        padding: unset;
        .style-picker {
            position: initial !important;
        }
    }
}
.styles .styles ~ .product-details {
    display: initial !important;
}
.content.no-padding section {
    padding: unset;
}
.card-container {
    justify-content: space-evenly;
    .card {
        flex-basis: 25%;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        display: flex;
        flex-direction: column;
        transition: .1s linear box-shadow;
        &:hover {
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08)
        }
        .card-header {
            color: $brand-color;
            text-align: center;
            padding: 15px 0px 20px 0px;
            .material-icons {
                font-size: 2.5em;
                border: 2px solid;
                border-radius: 50%;
                padding: 16px;
            }
        }
        .card-content {
            padding: 10px;
            text-align: center;
            p {
                font-size: 16px;
            }
        }
    }
}