$brand-color: #339b78;
$brand-color-2: #1868df;
$default-hero-image: "/images/hero/box-top.jpg";
$cubic: cubic-bezier(.64,.09,.08,1);

// Software Colors
$beautifuldiscord: #7289DA;
$enhanceddiscord: #cc3200;
$bandagedbd: #3d82e7;

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
